template#indexBonds
  .section
    .block
      h2.title.is-pulled-left 訂單列表
      //- router-link.button.is-primary(:to="{ name: 'new-bond' }")
      a.button.is-primary(@click='isAdding = true')
          i.fa.fa-plus
      router-link.button.is-pulled-right(to='/logout') 登出

    div
      table.table
        thead
          tr
            th 姓名
            th 資訊
            th email
            th 電話
            th 匯款號碼
            th 匯款時間
            th 確認匯款
            th 報到
        tbody
          tr(v-for='bond in bonds')
            td
              router-link(:to="{ name: 'view-bond', params: { id: bond['.key'] }}") {{bond.name}}
            td {{bond.info}}
            td {{bond.email}}
            td {{bond.phone}}
            td {{bond.code}}
            td {{bond.commitTime}}
            td {{bond.phone}}
            td
              i.check(v-if='bond.checked')
            td
              i.check(v-if='bond.checkIn')

    .modal(:class="{'is-active' : isAdding}")
      .modal-background
      .modal-content
        .box
          .content
            h3.modal-card-title 新增訂單
            .columns
              .column
                .control.has-icons-left
                  input.input(type='text', placeholder="name", v-model='newBond.name')
                  span.icon.is-left
                    i.fa.fa-user
              .column
                .control.has-icons-left
                  input.input(type='text', placeholder="info", v-model='newBond.info')
                  span.icon.is-left
                    i.fa.fa-lock
            .columns
              .column
                .control.has-icons-left
                  input.input(type='text', placeholder="email", v-model='newBond.email')
                  span.icon.is-left
                    i.fa.fa-envelope
              .column
                .control.has-icons-left
                  input.input(type='text', placeholder="phone", v-model='newBond.phone')
                  span.icon.is-left
                    i.fa.fa-phone
          .box-foot
            a.button.is-primary 確認新增
            a.button(@click='isAdding = false') 取消


template#addBond
  .section
    .block
      h3.title Add New Bond
    .columns
      form(v-on:submit.prevent='addBond')
        div
          label(for='bondName') Name:
          input#bondName(type='text', v-model='newBond.name')
        div
          label(for='bondEmail') Email:
          input#bondEmail(type='text', v-model='newBond.email')
        div
          label(for='bondInfo') Info:
          input#bondInfo(type='text', v-model='newBond.info')
        input(type='submit', value='Add Bond')

template#viewBook
  div
    h3 View Bond
  div
    table
      tbody
        tr(v-for='(value, key) in bond')
          td(v-text='key')
          td(v-text='value')

template#editBook
  div
    h3 Edit Bond
  div
    table
      tbody
        tr(v-for='(value, key) in bond')
          td(v-text='key')
          td(v-text='value')
