template#indexBonds
  .section
    .block
      h3.title.is-pulled-left 訂單列表
      router-link.button.is-primary(:to="{ name: 'new-bond' }")
          i.fa.fa-plus
      router-link.button.is-pulled-right(to='/logout') 登出
    
    div
      table.table
        thead
          tr
            th 姓名
            th 資訊
            th email
            th 電話
            th 匯款號碼
            th 匯款時間
            th 確認匯款
            th 報到
        tbody
          tr(v-for='bond in bonds')
            td
              router-link(:to="{ name: 'view-bond', params: { id: bond['.key'] }}") {{bond.name}}
            td {{bond.info}}
            td {{bond.email}}
            td {{bond.phone}}
            td {{bond.code}}
            td {{bond.commitTime}}
            td {{bond.phone}}
            td
              i.check(v-if='bond.checked')
            td
              i.check(v-if='bond.checkIn')

template#addBond
  div
    div
      h3 Add New Bond
    div
      form(v-on:submit.prevent='addBond')
        div
          label(for='bondName') Name:
          input#bondName(type='text', v-model='newBond.name')
        div
          label(for='bondEmail') Email:
          input#bondEmail(type='text', v-model='newBond.email')
        div
          label(for='bondInfo') Info:
          input#bondInfo(type='text', v-model='newBond.info')
        input(type='submit', value='Add Bond')

template#viewBook
  div
    h3 View Bond
  div
    table
      tbody
        tr(v-for='(value, key) in bond')
          td(v-text='key')
          td(v-text='value')

template#editBook
  div
    h3 Edit Bond
  div
    table
      tbody
        tr(v-for='(value, key) in bond')
          td(v-text='key')
          td(v-text='value')
