template#indexBonds
  .section
    .block
      h2.title.is-pulled-left 票卷列表
      //- router-link.button.is-primary(:to="{ name: 'new-bond' }")
      a.button.is-primary(@click='adding')
          i.fa.fa-plus
      router-link.button.is-pulled-right(to='/logout') 登出

    div
      table.table
        thead
          tr
            th
            th 姓名
            th 資訊
            th email
            th 電話
            th 匯款號碼
            th 匯款時間
            th 確認匯款
            th 報到
            th
        tbody
          tr(v-for='bond in bonds')
            td
              a
                i.fa.fa-pencil(@click='editing(bond)')
            td
              router-link(:to="{ name: 'view-bond', params: { id: bond['.key'] }}") {{bond.name}}
            td {{bond.info}}
            td {{bond.email}}
            td {{bond.phone}}
            td {{bond.code}}
            td {{bond.commitTime}}
            td
              i.fa.fa-check(v-if='bond.checked')
            td
              i.fa.fa-check(v-if='bond.checkIn')
            td
              a
                i.fa.fa-qrcode

    edit-bond-modal(:bond='pickedBond', ref='edit-bond-modal')

template#editBondModal
  .modal(:class="{'is-active' : isOpen}")
    .modal-background
    .modal-content.has-text-centered
      .box
        .content
          h3.modal-card-title {{isNew ? '新增票卷' : '編輯票卷'}}
          .columns
            .column
              .control.has-icons-left
                input.input(type='text', placeholder='姓名', v-model='bond.name')
                span.icon.is-left
                  i.fa.fa-user
            .column
              .control.has-icons-left
                input.input(type='text', placeholder='資訊', v-model='bond.info')
                span.icon.is-left
                  i.fa.fa-lock
          .columns
            .column
              .control.has-icons-left
                input.input(type='text', placeholder='email', v-model='bond.email')
                span.icon.is-left
                  i.fa.fa-envelope
            .column
              .control.has-icons-left
                input.input(type='text', placeholder='電話', v-model='bond.phone')
                span.icon.is-left
                  i.fa.fa-phone
          .columns
            .column
              .control.has-icons-left
                input.input(type='text', placeholder='帳號末五碼', v-model='bond.code')
                span.icon.is-left
                  i.fa.fa-credit-card
            .column
              .control.has-icons-left
                input.input(type='text', placeholder="匯款時間", v-model='bond.commitTime')
                span.icon.is-left
                  i.fa.fa-clock-o
          .columns
            .column
              span 付款
              label.switch
                input(type='checkbox' v-model='bond.checked')
                .slider
            .column
              span 報到
              label.switch
                input(type='checkbox' v-model='bond.checkIn')
                .slider
            .column
              a.button.is-primary(@click='submit') {{isNew ? '新增' : '儲存'}}
              a.button(@click='isOpen = false') 取消
