template#indexBonds
  .section
    .block
      h2.title.is-pulled-left 票卷列表
      a.button.is-primary(@click='adding')
          i.fa.fa-plus
      router-link.button.is-pulled-right(to='/logout') 登出

    div
      table.table
        thead
          tr
            th
            th 姓名
            th 資訊
            th email
            th 電話
            th 匯款號碼
            th 匯款時間
            th 備註
            th 已付款
            th 報到
            th
            th
        tbody
          tr(v-for='(bond, idx) in bonds')
            td {{idx + 1}}
            td
              router-link(:to="{ name: 'view-bond', params: { id: bond['.key'] }}") {{bond.name}}
            td {{bond.info}}
            td {{bond.email}}
            td {{bond.phone}}
            td {{bond.code}}
            td {{bond.commitTime}}
            td {{bond.memo}}
            td
              i.fa.fa-check(v-if='bond.checked')
            td
              i.fa.fa-check(v-if='bond.checkIn', :title='bond.checkInTime')
            td
              a(@click='editing(bond)')
                i.fa.fa-pencil
            td
              a(@click='deleting(bond)')
                i.fa.fa-trash

    edit-bond-modal(:bond='pickedBond', ref='edit-bond-modal')
    delete-bond-modal(:bond='pickedBond', ref='delete-bond-modal')

template#editBondModal
  .modal(:class="{'is-active' : isOpen}")
    .modal-background
    .modal-card.has-text-centered
      .box.has-text-centered
        .block
          h3.modal-card-title {{isNew ? '新增票卷' : '編輯票卷'}}
        .columns
          .column
            .control.has-icons-left
              input.input(type='text', placeholder='姓名', v-model='bondData.name')
              span.icon.is-left
                i.fa.fa-user
          .column
            .control.has-icons-left
              input.input(type='text', placeholder='資訊', v-model='bondData.info')
              span.icon.is-left
                i.fa.fa-info-circle
        .columns
          .column
            .control.has-icons-left
              input.input(type='text', placeholder='email', v-model='bondData.email')
              span.icon.is-left
                i.fa.fa-envelope
          .column
            .control.has-icons-left
              input.input(type='text', placeholder='電話', v-model='bondData.phone')
              span.icon.is-left
                i.fa.fa-phone
        .columns
          .column
            .control.has-icons-left
              input.input(type='text', placeholder='帳號末五碼', v-model='bondData.code')
              span.icon.is-left
                i.fa.fa-credit-card
          .column
            .control.has-icons-left
              input.input(type='text', placeholder="匯款時間", v-model='bondData.commitTime')
              span.icon.is-left
                i.fa.fa-clock-o
        .field
          .control
            textarea.textarea(placeholder='備註', v-model='bondData.memo', @keydown='autosize')
        .columns
          .column
            span 付款
            label.switch
              input(type='checkbox' v-model='bondData.checked')
              .slider
          .column
            span 報到
            label.switch
              input(type='checkbox' v-model='bondData.checkIn')
              .slider
          .column.box-foot
            a.button.is-primary(v-if='isNew', @click='create') 新增
            a.button.is-primary(v-else, @click='update') 儲存
            a.button(@click='isOpen = false') 取消
        transition(name='expand')
          .notification(v-if='message')
            button.delete(@click="message=''")
            span {{message}}

template#deleteBondModal
  .modal(:class="{'is-active' : isOpen}")
    .modal-background
    .modal-content.narrow
      .box.has-text-centered
        .block
          h3.modal-card-title 是否要刪除這張票卷？
        .columns
          .column.icon-wrapper-right
            span.icon
              i.fa.fa-user
          .column.has-text-left
            span {{bond.name}}
        .columns
          .column.icon-wrapper-right
            span.icon
              i.fa.fa-info-circle
          .column.has-text-left
            span {{bond.info}}
        .box-foot
          a.button.is-danger(@click='destroy') 刪除
          a.button(@click='isOpen = false') 取消

template#viewBond
  .section
    .columns
      .column
      .column.has-text-centered(v-if='isAuthed')
        template(v-if='bond.name')
          .block
            .field
              h3.title {{bond.name}}
            .field
              span {{bond.info}}
          transition(name='fade')
            .block(v-if='bond.checked')
              a.button.is-primary(v-if='!bond.checkIn', @click='checkIn')
                span 報到
              a.button.is-info(v-else-if='isClicked')
                i.fa.fa-check
                span 完成
              a.button.is-warning(v-else)
                i.fa.fa-check-circle
                span 已報到
              .check-in-time(v-if='bond.checkInTime') {{bond.checkInTime}}
            .block(v-else)
              a.button(@click='commit') 未付款
        template(v-else-if="bond.hasOwnProperty('.value')")
          h3.invalid-info 找不到資料
          i.fa.fa-exclamation-triangle
        template(v-else)
          .block
            .spinner
              .double-bounce1
              .double-bounce2
        transition(name='expand')
          .notification(v-if='message')
            button.delete(@click="message=''")
            span {{message}}
      .column.has-text-centered(v-else)
        .blick
          h3.title 請先登入
          router-link.button(to='/login') 登入
      .column
