template#viewLogin
  .section
    .columns
      .column
      .column
        h1.title.has-text-centered
          | Sign in
        .field
          .control.has-icons-left.has-icons-right
            input.input.is-medium(type='email', placeholder="email", v-model='user.email')
            span.icon.is-left
              i.fa.fa-envelope
        .field
          .control.has-icons-left.has-icons-right
            input.input.is-medium(type='password', placeholder="password", v-model='user.password')
            span.icon.is-left
              i.fa.fa-lock
        .notification(v-if='message')
          button.delete(@click="message=''")
          span {{message}}
        #signIn.has-text-centered
          a.button.is-primary(@click='signIn') Sign In
      .column
        
