template#indexBonds
  .section
    .block
      h2.title.is-pulled-left
        router-link(to='/').icon.back
          i.fa.fa-university
        span 票卷列表
      transition(name='fade')
        a.button.is-primary.is-small.add-bond(v-if='ready', @click='adding')
          i.fa.fa-plus
      transition(name='fade')
        router-link.button.is-pulled-right(v-if='ready', to='/logout') 登出

    .block.table-wrapper(@click='pickedBond = {}')
      table.table(:class="{slim : slim}")
        thead
          tr
            th(@click='slim = !slim')
              i.fa.fa-caret-square-o-left
            th
            th 姓名
            template(v-if='!slim')
              th 資訊
              th email
              th 電話
              th 匯款號碼
              th 匯款時間
              th 備註
            th 已付款
            th 報到
            th
            template(v-if='!slim')
              th
        tbody
          tr(v-for='(bond, idx) in bonds', :class="{'is-selected' : bonds.length > 1 && pickedBond == bond}", @click.stop='pickedBond = bond')
            td {{idx + 1}}
            td
              a(@click='producing(bond)')
                i.fa.fa-qrcode
            td
              router-link(:to="{ name: 'check-bond', params: { id: bond['.key'] }, query: {mode: $route.query.mode}}") {{bond.name}}
            template(v-if='!slim')
              td {{bond.info}}
              td
                a(:href='getMailTo(bond)') {{bond.email}}
              td {{bond.phone}}
              td {{bond.code}}
              td {{bond.commitTime}}
              td {{bond.memo}}
            td
              i.fa.fa-check(v-if='bond.checked')
            td
              i.fa.fa-check(v-if='bond.checkIn', :title='bond.checkInTime')
            td
              a(@click='editing(bond)')
                i.fa.fa-pencil
            template(v-if='!slim')
              td
                a(@click='deleting(bond)')
                  i.fa.fa-trash
    transition(name='fade')
      .block(v-if='bonds.length > 0')
        a.button.is-small.download-all(@click='producingAll')
          i.fa.fa-download
          span 下載全部 QRcode
    edit-bond-modal(:bond='pickedBond', ref='edit-bond-modal')
    delete-bond-modal(:bond='pickedBond', ref='delete-bond-modal')
    qr-view-modal(:bond='pickedBond', ref='qr-view-modal')


include ./edit_bond_modal.pug
include ./delete_bond_modal.pug
include ./qr_view_modal.pug
script(src="js/components/edit_bond_modal.js")
script(src="js/components/delete_bond_modal.js")
script(src="js/components/qr_view_modal.js")
