script(src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.9.0/js/canvas-to-blob.min.js")

template#qrViewModal
  .modal(:class="{'is-active' : isOpen}")
    .modal-background
    .modal-card.qr-wrapper
      .box
        .block.qr-code
          canvas#qrCode
        .box-foot
          a.button.is-primary(@click='download')
            i.fa.fa-download
            span 儲存
          a.button(@click='isOpen = false') 取消
