#app.container
  router-view

template#viewMain
  .section.has-text-centered
    .block
      h1.title Hello!
    transition(name='fade')
      .block(v-if='start')
        router-link.button(v-if='auth.currentUser', to='/bonds') 看票卷
        router-link.button(v-else, to='/login') 登入
